# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# ignore BinaryData folder
BinaryData/

# ignore logs folder
logs/

# ignore target folder
target/

# IntelliJ project files
.idea
*.iml
out
gen
